.main-container {
    max-width: 70rem;
    margin: 0 auto;
}

.announcements {
    background-color: #d7b19d;
    text-align: center;
}

.announcements span {
    display: inline-block;
    max-width: 60%;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    font-weight: 500;
}

.rewards {
    height: 30rem;
    width: 100%;
}

.left-right-content {
    margin-top: 2rem;
    display: flex;
}

.left-right-content .left--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.left-right-content .right--content {
    width: 50%;
}

.left-right-content .right--content img {
    width: 100%;
    height: 100%;
}

.text h1 {
    margin-bottom: 1.7rem;
}

.text h3 {
    margin-bottom: 7rem;
    color: rgba(255, 255, 255, 0.657);
}

.cta {
    padding: 7px 16px;
    border-radius: 2rem;
    border: 1.9px solid;
    font-weight: 700;
}

.text .cta:hover {
    background-color: #4f0e0e8f;
    cursor: pointer;
    transition: all 0.2s ease;
}

.text h3 {
    font-weight: 400;
}

.chill {
    height: 30rem;
    width: 100%;
}

.chill .left--content h3 {
    text-align: center;
}

.chill-text {
    width: 60%;
}

.chill .left--content h1 {
    letter-spacing: 8px;
}

/* Cards Section */

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
}

.card--1,
.card--2 {
    width: 547px;
}

.card--img {
    width: 100%;
    height: 505px;
}

.card--img img {
    width: 100%;
    height: 100%;
}

.card--content {
    background-color: #232323a1;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.card--content p {
    color: rgba(255, 255, 255, 0.397);
    width: 65%;
    text-align: center;
    margin: 1.3rem auto;
}

.card--content h3 {
    margin-top: 1.5rem;
    color: rgba(255, 255, 255, 0.575);
}

.card--1 .card--content h3 {
    margin-top: 4rem;
}

.card--content .cta {
    color: rgba(255, 255, 255, 0.575);
    transition: all 0.2s ease;
}

.card--content .cta:hover {
    background-color: #232323;
    cursor: pointer;
}

.card--2 .card--content .cta {
    margin-top: 2rem;
}

/* celebrate section */

.celebrate {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left--content2,
.right--content2 {
    width: 520px;
    height: 300px;
}

.left--content2 {
    background-color: #b4846c;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left--content2 p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 60%;
}

.left--content2 .cta--container .cta:hover {
    background-color: #8a614c;
    transition: all 0.2s ease;
    cursor: pointer;
}

.right--content2 {
    position: relative;
}

.right--content2 div {
    height: 200px;
    width: 200px;
    position: absolute;
    display: inline-block;
}

.cta--container {
    display: flex;
}

.box1 {
    background-color: #39a2db;
}
.box2 {
    left: 154px;
    top: 300px;
    transform: translateY(-200px);
    position: relative;
    z-index: 2;
    background-color: #d83a56;
}
.box3 {
    top: 0;
    right: 5px;
    background-color: #7f8b52;
}

.bottom--section {
    /* margin-top: 2px; */
    background-color: #df8e66;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom--section .content--1 {
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.bottom--section .content--2 {
    width: 70%;
}
/* Footer Section */

footer {
    width: 100%;
    height: 30rem;
    background-color: #4f0e0e;
}

.footer--header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72%;
}

.footer--header div {
    margin-left: 16px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-between;
}

.footer--header div a {
    color: rgba(255, 255, 255, 0.411);
    text-decoration: none;
}

.footer--header div h3 {
    color: rgba(255, 255, 255, 0.849);
}

.footer--header div a:hover {
    color: rgba(255, 255, 255, 0.774);
}

.footer--footer {
    height: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 118px;
}

.footer--footer .links {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.link {
    color: rgba(255, 255, 255, 0.65);
    font-weight: 600;
    text-decoration: none;
}

.link:hover {
    color: rgb(255, 255, 255);
}

.cp p {
    color: rgba(255, 255, 255, 0.781);
}
